<!--
 * @Descripttion: 
 * @version: 
 * @Author: 唐帆
 * @Date: 2020-05-11 13:24:02
 * @LastEditors: 唐帆
 * @LastEditTime: 2020-05-11 14:26:59
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style type="text/css">
    .grid {
      margin: auto;
      width: 530px;
      text-align: center;
    }

    .grid table {
      border-top: 1px solid #C2D89A;
      width: 100%;
      border-collapse: collapse;
    }

    .grid th,
    td {
      padding: 10;
      border: 1px dashed #F3DCAB;
      height: 35px;
      line-height: 35px;
    }

    .grid th {
      background-color: #F3DCAB;
    }

    .grid .book {
      padding-bottom: 10px;
      padding-top: 5px;
      background-color: #F3DCAB;
    }

    .grid .total {
      height: 30px;
      line-height: 30px;
      background-color: #F3DCAB;
      border-top: 1px solid #C2D89A;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="grid">

      <div>
        <h1>图书管理</h1>
        <div class="book">
          <div>
            <label for="id">
              编号：
            </label>

            <!-- 自定义指令 -->
            <!-- disable 属性绑定 -->
            <input type="text" id="id" v-model='id' :disabled='flag' v-focus>

            <label for="name">
              名称：
            </label>
            <input type="text" id="name" v-model='name'>
            <button @click='handle' :disabled='submitFlag'>提交</button>
          </div>
        </div>
      </div>

      <div class="total">
        <span>图书总数：</span>

        <!-- 计算属性 -->
        <span>{{total}}</span>

      </div>

      <table>
        <thead>
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
        </thead>

        <tbody>
          <tr :key='item.id' v-for='(item, index) in books'>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.date}}</td>
            <td>
              <a href="" @click.prevent='toEidt(index)'>修改</a>
              <span></span>
              <a href="" @click.prevent='toDelete(index, item.id)'>删除</a>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <script type="text/javascript" src="../vue.js"></script>
  <script type="text/javascript">
    // 自定义指令
    Vue.directive('focus', {
      // 注意是 inserted
      inserted: function (el) {
        el.focus();
      }
    })

    var vm = new Vue({
      el: '#app',
      data: {
        id: '',
        name: '',

        flag: false,
        submitFlag: false,

        books: []
      },

      methods: {
        handle: function () {
          if (this.flag === true) {
            this.books.some(function (item) {
              if (item.id === this.id) {
                item.name = this.name;
                // 完成更新后终止循环
                return true;
              }
            }.bind(this));
            this.flag = false;
          } else {
            this.books.push({
              id: this.id,
              name: this.name,
              date: '',
            });
          }
          this.id = '';
          this.name = '';
        },

        toEidt: function (index) {
          let aimItem = this.books[index];
          this.id = aimItem.id;
          this.name = aimItem.name;

          // 禁止修改id
          this.flag = true;
        },

        toDelete: function (index, id) {
          // 方法 1
          // this.books.splice(index, 1);

          // 方法 2
          this.books = this.books.filter(function (item) {
            return item.id !== id;
          })
        }
      },

      // 计算属性
      computed: {
        total: function () {
          // 计算图书总数
          return this.books.length
        }
      },

      // 侦听器侦听数据变化
      watch: {
        name: function (val) {
          // 验证图书名称是否存在
          let flag = this.books.some(function (item) {
            return item.name === val
          });

          if (flag) {
            this.submitFlag = true;
          } else {
            this.submitFlag = false;
          }
        }
      },

      mounted: function () {
        // 该生命周期被触发时，模板已经加载完成
        // 在此处可以进行异步请求
        var data = [{
          id: 1,
          name: '三国演义',
          // 毫秒数
          date: 2525609975000
        }, {
          id: 2,
          name: '水浒传',
          date: 2525609975000
        }, {
          id: 3,
          name: '红楼梦',
          date: 2525609975000
        }, {
          id: 4,
          name: '西游记',
          date: 2525609975000
        }];
        this.books = data;
      }
    });
  </script>
</body>

</html>